a.info
{
    position:relative;
    z-index:24; 
    color:#000;
    text-decoration:none
}

a.info:hover {z-index:25; background-color:#000}

a.info span{display: none}

a.info:hover span
{
    display:block;
    position:absolute;
    top:2em; left:2em; width:10em;
    border:1px solid #000;
    background-color:#000; color:#fff;
}

ul.enlarge{
list-style-type:none; /*remove the bullet point*/
margin-left:125px;
}
ul.enlarge li{
display:inline-block; /*places the images in a line*/
position: relative;
z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
margin:10px 0px 0 10px;
}
ul.enlarge img{
padding: 0px;
-webkit-border-radius: 0px; 
-moz-border-radius: 0px; 
border-radius: 0px; 
}
ul.enlarge span{
position:absolute;
left: -9999px;
background-color:#000000;
padding: 0px;
color: #000000; 
-webkit-border-radius: 0px; 
-moz-border-radius: 0px; 
border-radius:0px;
}
ul.enlarge li:hover{
z-index: 500;
cursor:pointer;
}
ul.enlarge span img{
padding:0px;
width:auto;
height:400;
box-shadow: 10px 10px 5px #888888;

}
ul.enlarge li:hover span{ 
top: -50px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left: 0px; /*distance from the left of the thumbnail to the left of the popup image*/
}
ul.enlarge li:hover:nth-child(2) span{
left: 0px; 
}
ul.enlarge li:hover:nth-child(3) span{
left: 0px; 
}
/**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
ul.enlarge img, ul.enlarge span{
behavior: url(pie/PIE.htc); 
}